/*------------------------------------*\
  #VARIABLES
  This file contains the general variables used in the whole application
\*------------------------------------*/


/*------------------------------------*\
  #COLORS
\*------------------------------------*/
$primary: #3064E8;
$grey: #5F5F5F;
$textColor: #333;
$secondaryTextColor: #696969;
$min-sm-device-width: 414px;
$min-md-device-width: 736px;
